@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 173, 216, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 20, 10;
    /*--background-start-rgb: 20,83,45;*/
  }
}

.bg-color {
	background-color: rgb(var(--background-rgb))
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer base {
  @font-face {
    font-family: 'Grenze_Gotisch';
    src: url('./fonts/GrenzeGotisch-VariableFont_wght.ttf');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
